button{
	margin: 14%;
	padding: 3px;
	float:left;
	height: 200px;
	width: 250px;
	background-color: #2985ff;
	font-size: 30px;
	box-shadow: 10px 5px 5px grey;
	margin-top: 100px;
	color:white;
}
button:hover{
	background: linear-gradient(to bottom, #fc3d03 0%, #fc7b03 100%);
	
	color:white;
	transition: 0.2s ease;

	

}
.special{
	margin-left: 15px;
}
@media screen and (max-width: 800px){
	button{
		width: 100%
	}
} 
